<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kendalsasus.finalproject_cst2335">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Automobile" />
        <activity android:name=".nutrition.NutritionTracker" />
        <activity android:name=".ActivityTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Thermostat" />
        <activity android:name=".ThermostatAddEntry" />
        <activity android:name=".AddGasEntry" />
        <activity android:name=".nutrition.AddNutritionEntry" />
        <activity android:name=".AddActivityEntry" />
    </application>

</manifest>